<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
          <h1>Car Overview Dashboard</h1>
          <p>Through the use of Docker server to client communication, Sai Subathra Anbarasum, Alberto Serrano-Calva and Robert Glenning<br>
          designed an elegant program to illustrate how self-guided cars can navigate a chaotic area with obstacles everywhere and each car<br>
          heading for their own goals. Please go ahead to localhost:5000/skeletonview to enjoy the model.</p>
      </div>
    </body>
</html>
